<head>
    <title>{{ questions[0].company }}</title>
</head>

<body>
    <h1>Question Data from {{ questions[0].company }}</h1>
    <table>
        <thead>
            <th>Question number</th>
            <th>Question</th>
            <th>Response</th>
            <th>ADF Version</th>
            <th>Company</th>
            <th>Section</th>
        </thead>
        {% for question in questions %}
        <tr>
            {% for data in question.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>